################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandPattern/bin
/CommandPattern/obj
/CommandPatternPractice/bin
/CommandPatternPractice/obj
