################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandPattern/bin
/CommandPattern/obj
/CommandPatternPractice/bin
/CommandPatternPractice/obj
/Observer-Problem/obj
/Proxy-Problem/bin
/Proxy-Problem/obj
/Proxy-Problem/obj
/Proxy-Solution/bin
/Proxy-Solution/obj
/Strategy-Problem/obj
/Strategy-Problem/bin
/Strategy-Solution/obj
/Strategy-Solution/bin

